@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --clr-header: #f1eeee;
    --clr-nav: #a36d68;
    --clr-white: #dddddd;
    --clr-letra: white;
    --clr-text-subdivision: #3a0310;
    --clr-backbutton: #e6cecd;
    --clr-footer: #704c52;
    --clr-logo: #e1b8af;
    --clr-grey: #f7f7f7;
    --clr-red: #9e2222;
    --clr-bannertext: #c7a17a;
}

html {
	font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , ol{
    list-style-type: none;
}

.container-navbar{
    background-color: var(--clr-nav);
}

.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 105px;
    width: 100%;
    position: relative;

}

.navbar li{
    position: relative;
    display: inline-block;
    padding: 0px 25px;
}

.navbar li a{
    background-color: var(--clr-logo);
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    display: block;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.navbar li a:hover{
    background-color: var(--clr-text-subdivision);
}

.navbar > li{
    float: left;
}

.navbar li ul{
    display: none;
    position: absolute;
    top: 100%; /* Alinea el submenú con el lado izquierdo del elemento padre */
    min-width: 140px;
}

.navbar li:hover > ul {
    display: block;
}


.logo{
    color: var(--clr-logo);
    font-size: 3.5rem;
}


a{
    text-decoration: none;
    font-size: 1rem;
}

.container{
    max-width: 120rem;
	margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin: 2rem 0;
}

.products-category{
    display: flex;
	flex-direction: column;
	gap: 2rem;
}

.products-recommend{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.productCat-img{
    width: 32rem;
    height: 28rem;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
}


.product-detailsCa{
    background-color: var(--clr-nav);
    width: 32rem;
    height: 12rem;
    color: var(--clr-letra);
    padding: 1.6rem 1.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    font-size: 1.5rem;
    
}

.product {
    position: relative;
}

.product .productCat-img,
.product .product-detailsCa {
    cursor: pointer;
    transition: border-color 0.3s ease; /* Agrega una transición suave de 0.3 segundos para el cambio de color del borde */
}

.product:hover .productCat-img,
.product:hover .product-detailsCa {
    border: 2px solid black; /* Cambia el color del borde al pasar el puntero sobre la imagen o los detalles */
}

.product-trolley{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-nav);
    padding: .5rem;
    text-transform: uppercase; /* Cambiar letra a mayuscula */
    border-radius: 2rem;
    cursor: pointer;
    border: 3px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.product-trolley:hover{
    background-color: var(--clr-nav);
    color: var(--clr-white);
}


.contact-text{
    font-size: 1.5rem;
}

footer{
    width: 100%;
    background-color: var(--clr-footer);
    
}

.red-social{
    padding: 15px 30px;
}

footer .container_footer{
    width: 100%;
    max-width: 1284px;
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 70px;
    padding: 15px 0px;
}

footer .container_footer .box h1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centrar horizontal*/
    align-items: center; /* centrar vertical*/
}

footer .container_footer .box h2{
    color: var(--clr-letra);
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
}

footer .container_footer .box p{
    color: var(--clr-letra);
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

footer .container_footer .red-social a{
    display: inline-block;
    text-decoration: None;
    width: 50px;
    height: 42px;
    line-height: 43px;
    color: #fff;
    margin-right: 6px;
    background-color: var(--clr-logo);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 1rem;
    font-size: 2rem;
}

footer .container_footer .red-social a:hover{
    color: #005187;
}



/*Carrito*/

.container-carrito{
    padding: 28px;
}

.trolley-empty,
.trolley-buy {
    color: var(--clr-nav);
}

.carrito-products{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-grey);
    color: var(--clr-nav);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-product-img {
    width: 6.5rem;
    height: 6.5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.carrito-product small{
    font-size: 1.5rem;
}

.carrito-product p{
    font-size: 1.2rem;
}

.button-product-eliminar{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}
.carrito-actions{
    display: flex;
    justify-content: space-between;
}

.carrito-actions-empty{
    border: none;
    background-color: var(--clr-grey);
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .75rem;
    color: var(c);
}

.carrito-actions-right{
    display: flex;
}

.carrito-actions-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-nav);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.carrito-actions-buy{
    border: 0;
    background-color: var(--clr-nav);
    margin-top: 1rem;
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}



/* mediaquieres*/
@media screen and (max-width: 800px){

    .container{
        max-width: 80rem;
        margin: 0 auto;
    }
    .navbar .logo{
        margin-bottom: 1rem;
        font-size: 36px;
    }

    .navbar{
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .navbar li a{
        font-size: 14px;
        padding: 8px 16px;
    }

    
    .navbar > li{
        float: left;
    }

    .navbar li ul{
        display: none;
        position: absolute;
        min-width: 20px;
    }

    .navbar li:hover > ul {
        display: block;
    }


    
    .banner{
        height: 45rem;
        background-size: cover;
	    background-position: center;
    }

    .contentbanner{
        max-width: 90rem;
        margin: 0 auto;
        padding: 30rem 3rem;
    }

    .contentbanner h2 {
        text-align: center;
        color: var(--clr-bannertext);
        font-size: 2rem;
        margin-right: 12rem;
    }

    .container-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
    }
    .card-category {
        height: 20rem;
        display: flex;
        border-radius: 3rem;
        gap: 2rem;
        margin-left: 2rem;
        
    }

    .products-recommend {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        padding: 2rem 3rem;

    }

    .product-img{
        width: 32rem;
        object-fit: cover;
    }
    .product-details{
        width: 32rem;
    }

    .title-recommend{
        font-size: 22px;
    }

    footer .container_footer{
        grid-gap: 26px;
        padding: 12px 10px;
    }
    footer .container_footer .box h1{
        font-size: 36px;
        margin-bottom: 1rem;
    }

    footer .container_footer .box p{
        font-size: 1.4rem;
    }

    footer .container_footer .red-social a{
        margin: 8px 4px;
    }
    

    /*Carrito*/

}