@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root{
    --clr-nav: #a36d68;
    --clr-white: #dddddd;
    --clr-letra: white;
    --clr-text-subdivision: #3a0310;
    --clr-backbutton: #e6cecd;
    --clr-footer: #704c52;
    --clr-logo: #e1b8af;
    --clr-grey: #f7f7f7;
    --clr-red: #9e2222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu';
}

ul{
    list-style-type: none;
}

.navbar{
    background-color: var(--clr-nav);
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo{
    color: var(--clr-logo);
    font-size: 2rem;
    margin-left: 20px;
}


a{
    text-decoration: none;
    margin: 30px;
    font-size: 17px;
    color: var(--clr-letra);
}

.title-recommend{
    text-transform: uppercase;
    color: var(--clr-text-subdivision);
    text-decoration: underline;
    text-align: center;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.products-recommend{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0;
    margin-left: 32px;
    padding: 2rem 8rem;
}

.product-img {
    width: 22rem;
    height: 16rem;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
}

.product-details{
    background-color: var(--clr-nav);
    width: 22rem;
    color: var(--clr-letra);
    padding: .6rem 1.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    
}

.product-details{
    font-size: 1rem;
}

.product-trolley{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-nav);
    padding: .5rem;
    text-transform: uppercase; /* Cambiar letra a mayuscula */
    border-radius: 2rem;
    cursor: pointer;
    border: 3px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.product-trolley:hover{
    background-color: var(--clr-nav);
    color: var(--clr-white);
}

.contact-text{
    font-size: 1.5rem;
}

footer{
    width: 100%;
    background-color: var(--clr-footer);
    
}

footer .container_footer{
    width: 100%;
    max-width: 1200px;
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 70px;
    padding: 45px 0px;
}

footer .container_footer .box h1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centrar horizontal*/
    align-items: center; /* centrar vertical*/
}

footer .container_footer .box h2{
    color: var(--clr-letra);
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
}

footer .container_footer .box p{
    color: var(--clr-letra);
    margin-bottom: 1rem;
}

footer .container_footer .red-social a{
    display: inline-block;
    text-decoration: None;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--clr-logo);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 1rem;
}

footer .container_footer .red-social a:hover{
    color: #005187;
}



/*Carrito*/

.container-carrito{
    padding: 28px;
}

.carrito-vacio {
    color: var(--clr-nav);
    display: none;
}

.carrito-products{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-grey);
    color: var(--clr-nav);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-product-img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.carrito-product small{
    font-size: .75rem;
}

.button-product-eliminar{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-actions{
    display: flex;
    justify-content: space-between;
}

.carrito-actions-empty{
    border: none;
    background-color: var(--clr-grey);
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .75rem;
    color: var(--clr-nav);
}

.carrito-actions-right{
    display: flex;
}

.carrito-actions-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-nav);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: 1rem;
    gap: 1rem;
}

.carrito-actions-buy{
    border: 0;
    background-color: var(--clr-nav);
    margin-top: 1rem;
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}



/* mediaquieres*/
@media screen and (max-width: 800px){
    .navbar .logo{
        margin-bottom: 1rem;
        font-size: 36px;
    }

    .navbar{
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .navbar a{
        font-size: 16px;
    }

    .products-recommend {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        margin-left: 3rem;
        padding: 2rem 1rem;

    }

    .product-img{
        width: 18rem;
        object-fit: cover;
    }
    .product-details{
        width: 18rem;
    }

    .title-recommend{
        font-size: 22px;
    }

    footer .container_footer .box h1{
        font-size: 36px;
    }
}